@{
    ViewBag.Title = "Page";
    Layout = "~/Views/Shared/_myWeb1.cshtml";
}

<h2>Recipie</h2>
<br />Name<br />
    @ViewData["f1"]
     Recipie Ingridients<br />
     @ViewData["f2"]

    Category<br />
     @ViewData["f3"]

    <p>Write Recipies</p>
     @ViewData["f4"]

   <b>  <p>Write Any Detail</p></b>
     @ViewData["f5"]
